Aulas/AULA7_8/Revenda+Flow_Chat_Gpt.yml
app:
  description: ''
  icon: rolling_on_the_floor_laughing
  icon_background: '#FFE4E8'
  mode: advanced-chat
  name: Revenda+Flow
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables:
  - description: Controle da etapa em que o usuário se encontra.
    id: 847918e4-2593-464f-8fae-e1a4ab8d3edc
    name: etapaAtual
    value: 0
    value_type: number
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: llm-source-1728006441497-target
      source: llm
      sourceHandle: source
      target: '1728006441497'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1728006441497-source-answer-target
      source: '1728006441497'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: if-else
      id: answer-source-1728604961666-target
      source: answer
      sourceHandle: source
      target: '1728604961666'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1728604961666-true-1728605032926-target
      source: '1728604961666'
      sourceHandle: 'true'
      target: '1728605032926'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1728005606791-source-1728605649253-target
      source: '1728005606791'
      sourceHandle: source
      target: '1728605649253'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1728605649253-false-llm-target
      source: '1728605649253'
      sourceHandle: 'false'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1728605649253-true-1728605774978-target
      source: '1728605649253'
      sourceHandle: 'true'
      target: '1728605774978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1728605774978-source-1728605963153-target
      source: '1728605774978'
      sourceHandle: source
      target: '1728605963153'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1728605963153-source-1728606256682-target
      source: '1728605963153'
      sourceHandle: source
      target: '1728606256682'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables: []
      height: 53
      id: '1728005606791'
      position:
        x: -286.71884898710994
        y: -20.362527333021873
      positionAbsolute:
        x: -286.71884898710994
        y: -20.362527333021873
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            json_schema: "{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n   \
              \ \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
              \        \"type\": \"string\",\n        \"description\": \"o nome da\
              \ pessoa\"\n      },\n      \"carro\": {\n        \"type\": \"string\"\
              ,\n        \"description\": \"o carro que o usuário escolheu, se não\
              \ souber marque \\\"\\\"\"\n      },\n      \"response\": {\n      \
              \  \"type\": \"string\",\n        \"description\": \"Sua resposta para\
              \ o usuário\"\n      },\n      \"etapa\": {\n        \"type\": \"integer\"\
              ,\n        \"description\": \"o número da etapa em que você se encontra\
              \ com descrito nas tags\"\n      }\n}\n}\n}"
            response_format: json_schema
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          id: 78e13d32-15a9-40ea-a20e-37fe3f551ab9
          jinja2_text: "<contexto>\r\nSeu nome é Clara, você trabalha na Concessionaria\
            \ Auto Carros.\r\nNo inicio da conversa, envie sempre a logo da loja,\
            \ no formato markdown:\r\n\r\n![\"Auto+ Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\r\
            \n\r\n\r\nVocê deve orientar o usuário a encontrar o carro ideal.\r\n\
            </contexto>\r\n\r\n<etapas>\r\n1. Solicite o nome do usuário\r\n2. Pergunte\
            \ para que tipo de uso será o carro\r\n3. Faça poucas perguntas para identificar\
            \ o carro ideal para o cliente\r\n4. Sugira um carro ou uma lista de carros\
            \ com base no perfil dele\r\n5. Assim que o usuário escolher o carro,\
            \ agradeça e diga que irá encaminhá-lo para o Gerente Caetano, que irá\
            \ agendar um teste Drive.\r\n</etapas> \r\n\r\n<response_format>\r\nResponda\
            \ no formato JSON com os seguintes campos:\r\nresponse - Sua resposta\
            \ para o usuário\r\ncarro - o carro que o usuário escolheu, se não souber\
            \ marque \"\"\r\nnome - o nome do usuário, se não souber, marque \"\"\r\
            \netapa - o número da etapa em que você se encontra com descrito nas tags\
            \ <etapas>\r\n</response_format>"
          role: system
          text: "<contexto>\nSeu nome é Clara, você trabalha na Concecionaria Auto\
            \ Carros.\nNo inicio da conversa, envie sempre a logo da loja, no formato\
            \ markdown:\n\n![\"Auto Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\n\
            \nVocê deve orientar o usuário a encontrar o carro ideal.\n\n</contexto>\n\
            \n\n\n<etapas>\n\n1. Solicite o nome do usuário\n\n2. Pergunte para que\
            \ tipo de uso será o carro\n\n3. Faça poucas perguntas para identificar\
            \ o carro ideal para o cliente\n\n4. Sugira um carro ou uma lista de carros\
            \ com base no perfil dele\n\n5. Assim que o usuário escolher o carro,\
            \ agradeça e diga que irá encaminhá-lo para o Gerente Caetano, que irá\
            \ agendar um teste Drive.\n\n</etapas> \n\n\n\n<response_format>\n\nResponda\
            \ no formato JSON com os seguintes campos:\n\nresponse - Sua resposta\
            \ para o usuário\n\ncarro - o carro que o usuário escolheu, se não souber\
            \ marque \"\"\n\nnome - o nome do usuário, se não souber, marque \"\"\n\
            \netapa - o número da etapa em que você se encontra com descrito nas tags\
            \ <etapas>\n\n\n\n</response_format>\n\n<json_schema>\n{\n\n  \"name\"\
            : \"carro_escolha\",\n\n  \"schema\": {\n\n    \"type\": \"object\",\n\
            \n    \"properties\": {\n\n      \"nome\": {\n\n        \"type\": \"string\"\
            ,\n\n        \"description\": \"o nome da pessoa\"\n\n      },\n\n   \
            \   \"carro\": {\n\n        \"type\": \"string\",\n\n        \"description\"\
            : \"o carro que o usuário escolheu, se não souber marque \\\"\\\"\"\n\n\
            \      },\n\n      \"response\": {\n\n        \"type\": \"string\",\n\n\
            \        \"description\": \"Sua resposta para o usuário\"\n\n      },\n\
            \n      \"etapa\": {\n\n        \"type\": \"integer\",\n\n        \"description\"\
            : \"o número da etapa em que você se encontra com descrito nas tags\"\n\
            \n      }\n\n    }\n\n  }\n\n}\n</json_schema>"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: llm
      position:
        x: 342.699406716383
        y: 214.18284863203837
      positionAbsolute:
        x: 342.699406716383
        y: 214.18284863203837
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728006441497.response#}}'
        desc: ''
        selected: false
        title: Resposta
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 943.2847185462165
        y: 455.73065729653734
      positionAbsolute:
        x: 943.2847185462165
        y: 455.73065729653734
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(data: str) -> dict:\n    jsondata = json.loads(data)\n\n \
          \   return {\n        \"response\": jsondata[\"response\"],\n        \"\
          etapa\": jsondata[\"etapa\"],\n        \"nome\": jsondata[\"nome\"],\n \
          \       \"carro\": jsondata[\"carro\"],\n    }"
        code_language: python3
        desc: ''
        outputs:
          carro:
            children: null
            type: string
          etapa:
            children: null
            type: number
          nome:
            children: null
            type: string
          response:
            children: null
            type: string
        selected: false
        title: Código
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: data
      height: 53
      id: '1728006441497'
      position:
        x: 645.3767085198518
        y: 361.4201485513265
      positionAbsolute:
        x: 645.3767085198518
        y: 361.4201485513265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 5a76ebfd-2c27-4238-9be9-1116d659a508
            value: '5'
            varType: number
            variable_selector:
            - '1728006441497'
            - etapa
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO
        type: if-else
      height: 125
      id: '1728604961666'
      position:
        x: 1232.2597260397924
        y: 539.8806123350815
      positionAbsolute:
        x: 1232.2597260397924
        y: 539.8806123350815
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        assigned_variable_selector:
        - conversation
        - etapaAtual
        desc: ''
        input_variable_selector:
        - '1728006441497'
        - etapa
        selected: false
        title: Atribuidor de Variáveis
        type: assigner
        write_mode: over-write
      height: 131
      id: '1728605032926'
      position:
        x: 1569.2281004638533
        y: 667.16498519137
      positionAbsolute:
        x: 1569.2281004638533
        y: 667.16498519137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 8c1c6470-1113-4786-8d20-b35f4e85a6eb
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - etapaAtual
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO 2
        type: if-else
      height: 125
      id: '1728605649253'
      position:
        x: 14.281692428107192
        y: 45.512556635372334
      positionAbsolute:
        x: 14.281692428107192
        y: 45.512556635372334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "from datetime import datetime\n\ndef main() -> dict:\n    # Dicionário\
          \ para mapear os dias da semana em português\n    days_of_week = {\n   \
          \     0: \"Segunda-feira\",\n        1: \"Terça-feira\",\n        2: \"\
          Quarta-feira\",\n        3: \"Quinta-feira\",\n        4: \"Sexta-feira\"\
          ,\n        5: \"Sábado\",\n        6: \"Domingo\"\n    }\n    \n    # Obtém\
          \ a data atual\n    current_date = datetime.now()\n    \n    # Formata a\
          \ data no formato dd/mm/aaaa\n    formatted_date = current_date.strftime(\"\
          %d/%m/%Y\")\n    \n    # Obtém o dia da semana em português\n    day_of_week\
          \ = days_of_week[current_date.weekday()]\n    \n    # Retorna a data e o\
          \ dia da semana\n    return {\n        \"data_atual\": formatted_date,\n\
          \        \"dia_da_semana\": day_of_week\n}"
        code_language: python3
        desc: ''
        outputs:
          data_atual:
            children: null
            type: string
          dia_da_semana:
            children: null
            type: string
        selected: false
        title: Pegar Data Atual
        type: code
        variables: []
      height: 53
      id: '1728605774978'
      position:
        x: 507.57653741394734
        y: -129.300022958687
      positionAbsolute:
        x: 507.57653741394734
        y: -129.300022958687
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 12
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          jinja2_text: "<contexto>\r\nSeu nome é Caetano e você é responsável por\
            \ agendar o teste drive com o cliente em nossa concessionária.\r\n</contexto>\r\
            \n\r\n<etapas>\r\n1. Pergunte o endereço do usuário\r\n2. Sugira os próximos\
            \ dois dias para agendamento, hoje é {{ data_atual }}, {{ dia_da_semana\
            \ }}.\r\n3. Sugira dois horários, um de manhã e outro de tarde.\r\n4.\
            \ Agradeça ao usuário e diga que irá aguardá-lo.\r\n\r\n</etapas>"
          role: system
          text: '<contexto>

            Seu nome é Caetano e você é responsável por agendar o teste drive com
            o cliente em nossa concessionária.

            </contexto>


            <etapas>

            1. Pergunte o endereço do usuário

            2. Sugira os próximos dois dias para agendamento, hoje é {{ data_atual
            }}, {{ dia_da_semana }}.

            3. Sugira dois horários, um de manhã e outro de tarde.

            4. Agradeça ao usuário e diga que irá aguardá-lo.


            </etapas>'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1728605963153'
      position:
        x: 846.2636278222091
        y: -349.048497166336
      positionAbsolute:
        x: 846.2636278222091
        y: -349.048497166336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728605963153.text#}}'
        desc: ''
        selected: false
        title: Resposta 2
        type: answer
        variables: []
      height: 105
      id: '1728606256682'
      position:
        x: 1149.263627822209
        y: -349.048497166336
      positionAbsolute:
        x: 1149.263627822209
        y: -349.048497166336
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 167.4730744249273
      y: 220.68311854865524
      zoom: 0.5285090202806901
